<!DOCTYPE html>
<html>
<meta charset="utf-8">
<html>
<head>
  <link rel="stylesheet" type="text/css" media="screen" href="index.css" />
  <link href="css/smoothness/jquery-ui-1.10.0.custom.css" rel="stylesheet">
  <script src="js/jquery-1.9.0.js"></script>
  <script src="js/jquery-ui-1.10.0.custom.js"></script>
  <title>Stack-D</title> <!-- Page title -->

</head>
<body>
<!-- Container starts here -->

<div id="container" >
  <div id="welcome_header" >
    <div class="logobox" >
    </div>
    <div class="navbar" >
      <hr>
      <a href="index.html"><li>Home</li></a>
      <hr>
      <li><%= link_to "Buy/Sell", :controller => "ads", :action => "index" %></li>

      <hr>
      <li>Blog</li>
      <hr>
      <li>Notes</li>
      <hr>
      <li>Help</li>
      <hr>
      <li>Settings</li>
      <hr>
      <div class="loginbar" >

        <div class="loginbutton" >
        </div>
        <div class="loginbutton" >
        </div>
      </div>
    </div>

  </div>
  <div id="Topwrapper" >
    <div class="topbar" >
      <div class="topbutton" >
      </div>
    </div>
  </div>
  <div id="Midwrapper" >
    <div class="midbox" >
    </div>
  </div>

  <div id="botwrapper" >
    <div class="botbox" >
      <div class="bottom_button" >
      </div>
    </div>
  </div>
  <div id="Otherwrapper" >
    <div class="otherbox" >
      <div class="picturebox" >
        <div class="notebox" >
        </div>
        <div class="helpbox" >
        </div>
      </div>
    </div>
  </div>




  <!-- Footer starts here -->
  <div id="footer">
    <div class="footbox" >
      <div class="foot_top" >
        <div class="foot_strip" >
          <li style="font-weight:bold;color:black;margin-bottom:5px;">Current Schools</li>
          <li>Humber College</li>
          <li>Western University</li>
          <li>Brock University</li>
          <li>Seneca College</li>
          <li>York University</li>
          <li>Uoft University</li>
        </div>
        <div class="foot_strip" >
          <li style="font-weight:bold;color:black;margin-bottom:5px;">Pages</li>
          <li>Home</li>
          <li>Buy/Sell</li>
          <li>Blog</li>
          <li>Help</li>
          <li>Settings</li>
        </div>
        <div class="foot_strip" >
          <li style="font-weight:bold;color:black;margin-bottom:5px;">About Us</li>
          <li>Our Team</li>
          <li>About</li>
          <li>Terms</li>
          <li>Privacy</li>
        </div>
        <div class="foot_strip" >
          <li style="font-weight:bold;color:black;margin-bottom:5px;">Courses</li>
          <li>Science</li>
          <li>Math</li>
          <li>Engineering</li>
          <li>English</li>
          <li>Econmics</li>
        </div>
      </div>
      <div class="foot_bottom" >
      </div>
    </div>

  </div>
  <!-- Footer ends here -->
</div>
<!-- Main container ends here -->
</body>
</html>


