
<div id="container" >

  </div>
  <div id="Topwrapper" >
    <div class="topbar" >
      <div class="topbutton" >
      </div>
    </div>
  </div>
  <div id="Midwrapper" >
    <div class="midbox" >
    </div>
  </div>
<%= link_to('Login', new_user_session_path)  %>

  <div id="botwrapper" >
    <div class="botbox" >
      <div class="bottom_button" >
      </div>
    </div>
  </div>
  <div id="Otherwrapper" >
    <div class="otherbox" >
      <div class="picturebox" >
        <div class="notebox" >
        </div>
        <div class="helpbox" >
        </div>
      </div>
    </div>
  </div>
<div id="Otherwrapper" >
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
</div>
</div>
